:root {
    --paragraph-color: #555555;
    --secondary-paragraph-color: #9DA4BD;
    --header-color: #303030;
    --primary-white: #FFFFFF;
    --highlight-color: #FF6C00;
}

body {
    color: var(--paragraph-color);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-white);
    font-size: 18px;
    letter-spacing: 0.02em;
}

/* reset*/

img {
    display: block;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Header*/

.container {
    width: 1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: #FF6C00 solid 2px;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    
}

.nav-list {
    display: flex;
    align-items: center;
}

.list {
    display: flex;
    margin-left: 131px;
    gap: 30px;
}

.list-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.nav {
    color: var(--header-color); /*change to white after bckgd-pic is set*/
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.nav-contact {
    margin-right: 40px;
}

.nav:hover,
.nav:focus
{
    color: var(--highlight-color);
}

.btn {
    color: var(--header-color); /*change to white after bckgd-pic is set*/
    background-color: var(--primary-white);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    border: solid var(--highlight-color);
    border-radius: 25px;
    min-width: 160px;
    min-Height: 40px;
    
    padding: 11px 29px;
    display: inline-block;
    
}

.btn:hover,
.btn:focus{
    background-color: var(--highlight-color);
}

.hero-link,
.footer-link {
    color: var(--header-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-decoration: none;

}

.hero-link:hover,
.hero-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--highlight-color);
}

.hero-text,
.services-text {
    color: rgba(157, 164, 189, 0.6);   
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*HERO*/

.hero> .container {
    display: flex;
}

.social-links {
    width: 100px;
}
.hero-content {
    padding: 272px 526px 208px 100px;
    background-color: var(--paragraph-color);
    background-image:linear-gradient( rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)),
    url(../img/background-img.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-title {
    color: var(--primary-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

}

.hero-paragraph {
    color: var(--secondary-paragraph-color);
    font-size: 18px;
    line-height: 1.7;
    width: 357px;
    

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/*ABOUT*/

.about-container {
    display: flex;
    
}

.about-img {
    display: flex;
    gap: 30px;
}

.about-paragraph,
.why-us-paragraph,
.staff-paragraph,
.gallery-paragraph
{
    color: var(--header-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-title,
.why-us-title,
.staff-title {
    color: var(--header-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em; 
}

.about-content {
   margin-left: 30px;
   width: 470px;
}

.about-title,
.why-us-title {
    margin-bottom: 20px;
}

.why-us-title {
    width: 430px;
}

.about-text,
.why-us-text {
    color: var(--paragraph-color);
    line-height: 1.7;
    margin-bottom: 20px;  
}

.why-us-text {
    width: 500px;
}

.about-description {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 2;
    margin-bottom: 42px;

}

/*SERVICES*/


.services {
    background-image: url(../img/bgd-img-prices.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.services-price {
    display: flex;
    justify-content: space-between;
    
}

.price-list {
    width: 570px;
}

.price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.services-list:not(:last-child) {
    margin-bottom: 0;
}



.services-title {
    color: var(--primary-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 44px;

}

.services-list {
    color: var(--secondary-paragraph-color);
    line-height: 1.7;
    margin-bottom: 44px;
    padding: 30px 20px;
   
}

.btn-services {
    display: block;
    margin: auto;
}

/*WHY US*/

.why-us-content {
    display: flex;
    
}

.why-text {
    margin-left: 130px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-us-items {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-item {
    width: 170px;
    padding: 20px 24px;
}

.why-us-nu {
  color: var(--header-color);  
    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    letter-spacing: 0.05em;

}

sup {
    color: var(--highlight-color);
}

.why-us-descr {
    color: var(--header-color); 
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;

}


/*STAFF*/

.staff-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.staff-member {
    flex-wrap: wrap;
    flex-basis: calc(100% - 30px*2)/3;
    
}

.staff-title {
    margin-bottom: 44px;
}

.staff-content {
    padding: 30px 10px 0 10px;
    text-align: center;


}

.staff-name {
 color: var(--header-color);   
 line-height: 1.4;
 margin-bottom: 8px;
}

.staff-text {
    color: var(--highlight-color);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.staff-link {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-paragraph-color);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.staff-link:hover,
.staff-link:focus {
    color: var(--highlight-color);
}

/*Gallery*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .gallery-paragraph {
    margin-bottom: 44px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .gallery-item {
    flex-basis: calc(100% - 30px*2)/3;
  }

.footer-text {
    color: var(--secondary-paragraph-color);
font-weight: 600;
font-size: 11px;
line-height: 1.4;

}

/*CONTACTS SECTION*/
.contact {
    background-color: var(--header-color);
}
.contact > .container {
display: flex;

}

.contact-info {
    background-image: url('../img/bgd-img-contacts.jpg');
    opacity: 0.1;
    background-position: center;
    background-size: cover;
    width: 50%;
}

