:root {
    --paragraph-color: #555555;
    --secondary-paragraph-color: #9DA4BD;
    --header-color: #303030;
    --primary-white: #FFFFFF;
    --highlight-color: #FF6C00;
}

body {
    color: var(--paragraph-color);
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-white);
    font-size: 18px;
    letter-spacing: 0.02em;
}

/* reset*/

img {
    display: block;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/*Header*/

.container {
    width: 1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;

    
}

.header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(128, 128, 128, 0.5);

}

.header {
    
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    
}

.nav-list {
    display: flex;
    align-items: center;
    
}



.list {
    display: flex;
    margin-left: 160px;
    gap: 30px;
}

.list-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}
.nav {
    color: var(--primary-white);
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.nav-contact {
    margin-right: 40px;
}

.nav:hover,
.nav:focus
{
    color: var(--highlight-color);
}

.btn {
    color: var(--primary-white); 
    background-color: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    text-decoration: none;
    border: solid var(--highlight-color);
    border-radius: 25px;
    min-width: 160px;
    min-Height: 40px;
    
    padding: 11px 29px;
    display: inline-block;
    
}

.btn:hover,
.btn:focus{
    background-color: var(--highlight-color);
}

.socials-hero {
    display: flex;
    align-items: flex-end;
}

.social-links {
display: flex;

 align-items: center;
 gap: 40px;
 transform-origin: top left;
 transform: rotate(-90deg) translateY(27px) translateX(140px);
 
}

.socials-hero::before {
    content: '';
    display: block;
    width: 60px;
    height: 1px;

    background-color: var(--header-color);
    color: var(--header-color);

    transform-origin: top left;
    transform: rotate(-90deg) translateY(100px) translateX(40px);
}

.hero-link,
.footer-link {

    font-family: 'Open Sans';
    font-style: normal;

    letter-spacing: 0.2em;

    color: #303030;
    color: var(--header-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-decoration: none;

}

.hero-link:hover,
.hero-link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--highlight-color);
}

.hero-text,
.services-text {
    color: rgba(157, 164, 189, 0.6);   
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/*HERO*/

.hero> .container {
    display: flex;
}

.social-links {
    width: 100px;
}
.hero-content {
    padding: 272px 526px 208px 100px;
    background-color: var(--paragraph-color);
    background-image:linear-gradient( rgba(25, 28, 38, 0.2),
    rgba(25, 28, 38, 0.2)),
    url(../img/background-img.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero-title {
    color: var(--primary-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

}

.hero-paragraph {
    color: var(--secondary-paragraph-color);
    font-size: 18px;
    line-height: 1.7;
    width: 357px;
    

}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.hero-text {
    display: flex;
    align-items: center;
    gap: 20px;
   
}
.hero-text::before {
   

    content: '';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);

    
}

/*ABOUT*/


.btn.light-theme {
    color: var(--header-color);
}

.btn.light-theme:hover {
    color: var(--primary-white);
}
.about-container {
    display: flex;
    
}

.about-img {
    display: flex;
    gap: 30px;
}

.about-paragraph,
.why-us-paragraph,
.staff-paragraph,
.gallery-paragraph
{
    color: var(--header-color);
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-paragraph {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-paragraph::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--header-color);
}

.about-title,
.why-us-title,
.staff-title {
    color: var(--header-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em; 
}

.about-content {
   margin-left: 30px;
   width: 470px;
}

.about-title,
.why-us-title {
    margin-bottom: 20px;
}

.why-us-title {
    width: 430px;
}

.about-text,
.why-us-text {
    color: var(--paragraph-color);
    line-height: 1.7;
    margin-bottom: 20px;  
}

.why-us-text {
    width: 500px;
}

.about-description {
    color: var(--paragraph-color);
    font-size: 14px;
    line-height: 2;
    margin-bottom: 42px;

}

/*SERVICES*/


.services {
    background-image: url(../img/bgd-img-prices.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.services-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}

.price-list {
    width: 570px;
}

.price {
    

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 12px;
    align-items: center;
    
}

.price-item {
    order: -1;
}

.price::before {
    content: "";
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 1px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: rgba(157,164,189,.12);
}

.services-list:not(:last-child) {
    margin-bottom: 0;
}

.services-title {
    color: var(--primary-white);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    margin-bottom: 44px;

}

.services-list {
    color: var(--secondary-paragraph-color);
    line-height: 1.7;
   
    padding: 30px 20px;
   
}

.price-list {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list.two {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);;
}

.btn-services {
    display: block;
    margin: auto;
}

.services-text {
    display: flex;
    align-items: center;
    gap: 20px;
}

.services-text::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);

}

/*WHY US*/
.why-us-paragraph, .staff-paragraph, .gallery-paragraph{
    display: flex;
    align-items: center;
    
    gap: 20px;
}


 .staff-paragraph::before,
 .gallery-paragraph::before,
 .why-us-paragraph::before 
  {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--header-color);  
}



.why-us-content {
    display: flex;
    justify-content: center;
    
    
}

.why-text {
    margin-left: 130px;
    margin-top: 9px;
    
}

.why-us-items {
    max-width: 370px;
    display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   gap: 30px;
}

.why-item {
    width: 170px;
    padding: 20px 24px;
    text-align: center;
    background-color: #F7F7F7;
    min-height: 133px;
}

.why-item:nth-child(even) {
    margin-top: 30px;
}

.why-us-nu {
    position: relative;
    
  
  color: var(--header-color);  
    font-weight: 700;
    font-size: 42px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    text-align: center;
    
}

.why-us-nu::after {
    position: absolute;
    top: 6px;
    

    content: '+';
    color: var(--highlight-color);
    width: 13px;
    height: 22px;

    font-family: 'Open Sans';
    font-weight: 600;
font-size: 16px;
line-height: 22px;
}

.why-us-descr {
    color: var(--header-color); 
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    text-align: center;

}


/*STAFF*/

.staff {
    background-color: #F7F7F7;
}

.staff-info {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.staff-member {
    flex-wrap: wrap;
    flex-basis: calc(100% - 30px*2)/3;
    
}

.staff-title {
    margin-bottom: 44px;
}

.staff-content {
    padding: 30px 10px 0 10px;
    text-align: center;

}

.staff-name {
 color: var(--header-color);   
 line-height: 1.4;
 margin-bottom: 8px;
}

.staff-text {
    color: var(--highlight-color);
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.staff-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.staff-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-white);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--header-color);

}

.social-icon {
    fill: currentColor;
}

.staff-link:hover,
.staff-link:focus {
    color: var(--highlight-color);
}


/*Gallery*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } 

  .gallery-paragraph {
    margin-bottom: 44px;
  }

  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .gallery-item {
    flex-basis: calc(100% - 30px*2)/3;
  }

.footer-text {
    color: var(--secondary-paragraph-color);
font-weight: 600;
font-size: 11px;
line-height: 1.4;

}

/*CONTACTS SECTION*/

.form-section {
    display: flex;
    justify-content: space-between;

}

.contact {
    background-color: #191C26;
    background-image: url('../img/Bg.png');
    background-repeat: no-repeat;
    background-position: 100% 100%;
}
.contact > .container {
display: flex;


}

.contact-info {
    
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
    background-position: center;
    background-size: cover;
    width: 50%;
}

.form {
    padding-top: 130px;
    padding-bottom: 120px;
    width: 570px;
    padding-right: 30px;
    background-position: center;
    background-size: cover;
     
       
}

.booking-form-group {
    display: flex;
    gap: 30px;

    margin-bottom: 44px;
}

.contact-title {
    
font-weight: 700;
font-size: 42px;
line-height: calc(42/49);
letter-spacing: 0.05em;
color: var(--primary-white);
margin-bottom: 40px;
}



.booking-label {
position: relative;

flex-basis: 270px;
font-family: 'Open Sans';

font-weight: 600;
font-size: 11px;
line-height: calc(15 / 11);

letter-spacing: 0.1em;
text-transform: uppercase;

color: rgba(157, 164, 189, 0.4);
transition-property: color;
transition-duration: 300ms;
transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}



.booking-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: left;

    transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1), transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.booking-input, 
.booking-textarea {
    
    color: var(--primary-white);
    width: 100%;
    height: 24px;
    background-color: transparent;
    border: none;
    outline: none;  
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    transition: border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);

}

.booking-textarea {
    height: 76px;
    resize: none;
}

.booking-input:focus, 
.booking-input:not(:placeholder-shown) {
    border-color: var(--primary-white);

}

.booking-input:focus + span, 
.booking-input:not(:placeholder-shown) + span {
    transform: translateY(-15px) scale(0.8);
    color: var(--primary-white);
}

.booking-textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
    font-family: inherit;
    resize: none;
    background-color: transparent;
}

.booking-textarea:focus,
 .booking-textarea:not(:placeholder-shown) {
    border-color: var(--primary-white); 
}

.booking-textarea:focus + span,
 .booking-textarea:not(:placeholder-shown) + span {
    color: var(--primary-white);
    transform: translateY(-85px) scale(0.8);
 }

 .booking-form-message {
    position: relative;
    margin-bottom: 44px;
 }

 .booking-textarea + .booking-text {
    transform: translateY(-60px);
 }

.address-link {
display: flex;
gap: 16px;
align-items: baseline;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.7;
text-decoration: none;
letter-spacing: 0.02em;
margin-bottom: 20px;
color: #9DA4BD;
}

.address-phone {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.7;
letter-spacing: 0.02em;
text-decoration: none;
margin-bottom: 20px;

color: #9DA4BD;
}

.address-mail {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.7;
letter-spacing: 0.02em;
text-decoration: underline;
margin-bottom: 70px;
color: #9DA4BD; 
}

.work-hours {
 display: flex;   
 
 align-items: center;
font-weight: 600;
font-size: 11px;
line-height: calc(15/11);
margin-bottom: 20px;

text-transform: uppercase;

color: var(--primary-white);

}

.work-hours::before {
    content: '';
    background-color: rgba(157, 164, 189, 0.4);
    height: 1px;
    width: 60px;
    margin-right: 20px;
    
}

.work-text {
font-weight: 400;
font-size: 18px;
line-height: calc(30/18);
letter-spacing: 0.02em;
color: #9DA4BD;
}

.footer-icon {
    stroke: currentColor;
    fill: transparent;
}

.socials-footer {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;

   
}

.socials-footer::before {
    content:'';
    display: block;
    width: 60px;
    height: 1px;
    background-color: var(--header-color);
    transform: translateY(3px);

}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
    padding-bottom: 56px;
}

footer {
    height: 127px;
}


